<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Authorize</title>
  </head>
  <body>
    <a href="https://app.youneedabudget.com/oauth/authorize?client_id=61640ecd06db3c2a208c94cf732a4ca2c3a9ce0b2260c5556197019f95aa5f75&redirect_uri=https://35f2c5a3.ngrok.io/ynab_redirect&response_type=code">Authorize</a>
  </body>
</html>
